POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
FT_CLIENT_ID=
FT_CLIENT_SECRET=
FT_REDIRECT_URI=
FRONTEND_URL=
GROQ_API_KEY=
GMAIL_USER=
GMAIL_PASSWORD=